@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.page {
  display: flex;
  flex-direction: column;
  height: 777px;
  justify-content: center;
  align-items: center;
  background-color: #bfbebb;
  margin: 75px auto;
  width: 800px;
  border-radius: 40px;
  font-family: "Neucha", cursive;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 50px;
}
.title {
  font-size: 42px;
}
.inbox {
  overflow: scroll;
  height: 800px;
  width: 600px;
}
.search {
  display: flex;
  flex-direction: row;
  width: 20px;
}
.empty-state {
  height: 800px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 130px;
}
.header {
  padding-left: 20px;
  width: 225px;
}
